# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [46]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [47]:
weather_df = pd.read_csv("../output_WeatherPy/cities.csv")
weather_df.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Khatanga,71.9667,102.5000,-2.42,95,100,11.43,RU,1647225550
1,Deer Lake,49.1667,-57.4316,19.26,73,100,8.05,CA,1647225550
2,Kavieng,-2.5744,150.7967,85.87,64,9,13.20,PG,1647225551
3,Barrow,71.2906,-156.7887,1.42,78,100,13.80,US,1647225551
4,Butaritari,3.0707,172.7902,81.66,72,4,19.71,KI,1647225551

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [48]:
# Configure gmaps
gmaps.configure(api_key=g_key)

# Locations
locations = weather_df[["Lat", "Lng"]]

humidity = weather_df["Humidity"]

In [49]:
import gmplot

# Plot Heatmap
fig = gmaps.figure(center=(25, 15), zoom_level=2)

# Create heat layer
HeatLayer = gmaps.heatmap_layer(locations, weights = humidity, dissipating=False, max_intensity=400, point_radius=5)


# Add layer
fig.add_layer(HeatLayer)


# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [50]:
# Narrow down the cities with wind speed less than 10 mph, cloudiness equals to 0 and max temp between 70 and 80
narrowed_df = weather_df[(weather_df["Wind Speed"] <= 10) & (weather_df["Cloudiness"] == 0) & (weather_df["Max Temp"] >= 70) & (weather_df["Max Temp"] <= 80)]
narrowed_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
59,Mangan,27.5167,88.5333,79.68,23,0,4.07,IN,1647225566
99,Haimen,23.1935,116.6142,78.69,63,0,3.15,CN,1647225579
179,Sindi,20.8000,78.8667,72.48,15,0,5.57,IN,1647225429
235,Key West,24.5557,-81.7826,71.01,64,0,8.05,US,1647225627
458,Xai-Xai,-25.0519,33.6442,73.00,87,0,9.28,MZ,1647225702

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [51]:
# Create a hotel_df
hotel_df = narrowed_df.loc[:,["City","Country", "Lat", "Lng"]]

# Add a "Hotel Name" column to the DataFrame.
hotel_df["Hotel Name"] = ""

# Display the result
hotel_df

         City Country      Lat       Lng Hotel Name
59     Mangan      IN  27.5167   88.5333
99     Haimen      CN  23.1935  116.6142
179     Sindi      IN  20.8000   78.8667
235  Key West      US  24.5557  -81.7826
458   Xai-Xai      MZ -25.0519   33.6442

In [52]:
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
params = {
    "type":"lodging",
    "radius" : 5000,
    "key": g_key}

for index, row in hotel_df.iterrows():
    Lat = row['Lat']
    Lng = row["Lng"]
    city = row["City"]
    print(f"Retrieving Results for Index {index}: {city}.")
    params["location"] = f'{Lat}, {Lng}'
    response = requests.get(base_url, params=params).json()
    HotelName = response["results"][1]["name"]

    try:
        print(f"Closest hotel in {City} is {HotelName}.")
        hotel_df.loc[x, 'Hotel Name'] = HotelName
        
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    print("------------")

Retrieving Results for Index 59: Mangan.
Closest hotel in Xai-Xai is Dzongu Lee, Home Stay.
------------
Retrieving Results for Index 99: Haimen.
Closest hotel in Xai-Xai is Green Tree Lnn C haoyang Haimen Smart Business Hotel.
------------
Retrieving Results for Index 179: Sindi.
Closest hotel in Xai-Xai is Capital O 85919 The Jungle Corridor.
------------
Retrieving Results for Index 235: Key West.
Closest hotel in Xai-Xai is Margaritaville Beach House Key West.
------------
Retrieving Results for Index 458: Xai-Xai.
Closest hotel in Xai-Xai is Platinum Hotel.
------------

In [54]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [55]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content = hotel_info)
fig.add_layer(markers)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))