# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
weather_df = pd.read_csv("../output_WeatherPy/cities.csv")
weather_df.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Slave Lake,55.2834,-114.7690,36.55,81,100,15.17,CA,1647072443
1,Butaritari,3.0707,172.7902,81.61,79,12,20.18,KI,1647072443
2,Anadyr,64.7500,177.4833,14.50,62,0,6.71,RU,1647072443
3,Buraidah,26.3260,43.9750,71.26,23,54,16.04,SA,1647072443
4,Clyde River,70.4692,-68.5914,-26.90,92,40,3.09,CA,1647072444

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# Configure gmaps
gmaps.configure(api_key=g_key)

# Locations
locations = weather_df[["Lat", "Lng"]]

humidity = weather_df["Humidity"]

In [4]:
pip install gmap

Requirement already satisfied: gmap in /Users/ash/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages (1.0)
Note: you may need to restart the kernel to use updated packages.

In [9]:
import gmplot

# Plot Heatmap
fig = gmaps.figure(center=(25, 15), zoom_level=2)

# Create heat layer
HeatLayer = gmaps.heatmap_layer(locations, weights = humidity, dissipating=False, max_intensity=200, point_radius=5)


# Add layer
fig.add_layer(HeatLayer)


# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [10]:
# Narrow down the cities with wind speed less than 10 mph, cloudiness equals to 0 and max temp between 60 and 80
narrowed_df = weather_df[(weather_df["Wind Speed"] <= 10) & (weather_df["Cloudiness"] == 0) & (weather_df["Max Temp"] >= 60) & (weather_df["Max Temp"] <= 80)]
narrowed_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
43,Makkah al Mukarramah,21.4267,39.8261,78.85,36,0,4.81,SA,1647072456
93,Acapulco de Juárez,16.8634,-99.8901,73.22,88,0,3.44,MX,1647072468
97,Joshīmath,30.5667,79.5667,68.36,31,0,3.83,IN,1647072469
105,Longyan,25.1072,117.0225,79.59,35,0,4.09,CN,1647072472
115,Jumla,29.2747,82.1838,65.66,15,0,7.25,NP,1647072474
210,Tessalit,20.1986,1.0114,72.59,14,0,6.89,ML,1647072501
236,Atar,20.5169,-13.0499,66.87,13,0,7.70,MR,1647072508
299,Vila Velha,-20.3297,-40.2925,73.35,90,0,4.61,BR,1647072526
376,Vallenar,-28.5708,-70.7581,63.05,77,0,2.10,CL,1647072549
409,Port Lincoln,-34.7333,135.8667,72.93,46,0,6.96,AU,1647072558

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [11]:
# Create a hotel_df
hotel_df = narrowed_df.loc[:,["City","Country", "Lat", "Lng"]]

# Add a "Hotel Name" column to the DataFrame.
hotel_df["Hotel Name"] = ""

# Display the result
hotel_df

                     City Country      Lat       Lng Hotel Name
43   Makkah al Mukarramah      SA  21.4267   39.8261
93     Acapulco de Juárez      MX  16.8634  -99.8901
97              Joshīmath      IN  30.5667   79.5667
105               Longyan      CN  25.1072  117.0225
115                 Jumla      NP  29.2747   82.1838
210              Tessalit      ML  20.1986    1.0114
236                  Atar      MR  20.5169  -13.0499
299            Vila Velha      BR -20.3297  -40.2925
376              Vallenar      CL -28.5708  -70.7581
409          Port Lincoln      AU -34.7333  135.8667

In [12]:
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

params = {"type" : "hotel",
          "radius" : 5000,
          "key" : g_key}

In [13]:
for x in hotel_df.index:
    params = {
        "type" : "hotel",
        "location": f'{hotel_df.loc[x,"Lat"]},{hotel_df.loc[x,"Lng"]}',
        "radius" : 5000,
        "key" : g_key,}
    City = hotel_df.loc[x,"City"]
    print(f"Retrieving Results for Index {x}:{City}.")
    response = requests.get(base_url, params=params).json()
    HotelName = response["results"][1]["name"]
    try:
        print(f"Closest hotel in {City} is {HotelName}.")
        hotel_df.loc[x, 'Hotel Name'] = HotelName
        
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    print("------------")

Retrieving Results for Index 43:Makkah al Mukarramah.
Closest hotel in Makkah al Mukarramah is Makkah Clock Royal Tower, A Fairmont Hotel.
------------
Retrieving Results for Index 93:Acapulco de Juárez.
Closest hotel in Acapulco de Juárez is HS Hotsson Smart Acapulco.
------------
Retrieving Results for Index 97:Joshīmath.
Closest hotel in Joshīmath is Shivalik Camps & Resort.
------------
Retrieving Results for Index 105:Longyan.
Closest hotel in Longyan is 供销大厦.
------------
Retrieving Results for Index 115:Jumla.
Closest hotel in Jumla is Karnali Academy of Health Sciences, Jumla.
------------
Retrieving Results for Index 210:Tessalit.
Closest hotel in Tessalit is Marisquería el peruano.
------------
Retrieving Results for Index 236:Atar.
Closest hotel in Atar is Oumou Elghoura.
------------
Retrieving Results for Index 299:Vila Velha.
Closest hotel in Vila Velha is Hotel Golden Tulip Porto Vitória.
------------
Retrieving Results for Index 376:Vallenar.
Closest hotel in Vallenar is Humacao Bed & Breakfast.
------------
Retrieving Results for Index 409:Port Lincoln.
Closest hotel in Port Lincoln is Port Lincoln Hotel.
------------

In [14]:
# Display the hotel dataframe
hotel_df

,City,Country,Lat,Lng,Hotel Name
43,Makkah al Mukarramah,SA,21.4267,39.8261,"Makkah Clock Royal Tower, A Fairmont Hotel"
93,Acapulco de Juárez,MX,16.8634,-99.8901,HS Hotsson Smart Acapulco
97,Joshīmath,IN,30.5667,79.5667,Shivalik Camps & Resort
105,Longyan,CN,25.1072,117.0225,供销大厦
115,Jumla,NP,29.2747,82.1838,"Karnali Academy of Health Sciences, Jumla"
210,Tessalit,ML,20.1986,1.0114,Marisquería el peruano
236,Atar,MR,20.5169,-13.0499,Oumou Elghoura
299,Vila Velha,BR,-20.3297,-40.2925,Hotel Golden Tulip Porto Vitória
376,Vallenar,CL,-28.5708,-70.7581,Humacao Bed & Breakfast
409,Port Lincoln,AU,-34.7333,135.8667,Port Lincoln Hotel

In [17]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
#hotel_info = [info_box_template.format(**row) for index, row in narrowed_city_df.iterrows()]
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [18]:
# Add marker layer and info box content ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content = hotel_info)

# Add the layer to the map
fig.add_layer(markers)

# Display Map
fig

Figure(layout=FigureLayout(height='420px'))